doctype html
html
 head
  title Subjects
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  a(href="/") Home
  h1 Subjects  
  p
   each grade in grades
    div
     a(href="/grade/#{grade.id}") #{grade.name}
     ul
      each subject in grade.subjects
       li
        a(href="/subject/#{subject.id}") #{subject.name}