doctype html
html
 head
  title Add Subject
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  a(href="/") Home
  form(action = "/addSubject/#{grade_id}", method="POST")
   h3 Subject Details
   div
    table(border="2", width = "200px")
     tr
      th Grade Id
      th Name
      th Max Score
     tr
      td
       input(type="text", name="grade_id", value = "#{grade_id}", disabled)
      td
       input(type="text", name="name")
      td
       input(type="text", name="maxScore")

   br
   input(type="submit", value="Add")