doctype html
html
 head
  title Add Subject
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body

  form(action = "/addSubject", method="POST")
   h3 Subject Details
   div
    table(border="2", width = "200px")
     tr
      th Name
      th Max Score
      th Grade Id
     tr
      td
       input(type="text", name="name")
      td
       input(type="text", name="maxScore")
      td
       input(type="text", name="grade_id", value = "#{grade_id}")

   br
   input(type="submit", value="Add")